.problemContainer{
    display: flex;
    flex-direction: row;
}

.problemPage{
    background-color: aqua;
    display: flex;
}

.executeButton{
    border: solid 1px;
    padding: 14px;
    margin: 10px;
    cursor: pointer;
}