@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    background-color: rgb(59, 59, 59);
    
}

*{
    font-family: "Fira Code", monospace;
    font-style: normal;
}


.problemPage{
    background-color: aqua;
    display: flex;
}

.executeButton{
    border: solid 1px rgb(255, 255, 255);
    padding: 14px;
    margin: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(71, 71, 71);
}

.editorBox{
    border: solid 1px;
    right: 0px;
    margin: 10px;
    position: absolute;
}

.outputBox{
    padding-left: 20px;
    position: absolute;
    z-index: 9;
    background-color: rgb(59, 59, 59);
    height: max-content;
    width: 56%;
    right: 0px;
    bottom: 0px;
    color: white;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

.descriptionBox{
    background-color: rgb(43, 43, 43);
    position: absolute;
    padding: 20px;
    top: 0px;
    bottom: 0px;
    width: 40%;
    color: white;
    overflow: scroll;
}

.airesp{
    width: 400px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.addQuestionForm{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.addQuestionText{
    margin: 3px;
}

.testcaseRow{
    display: flex;
}

.tcTerminal{
    padding: 10px;
    background-color: rgb(44, 44, 44);
    margin-left: 10px;
}

.testCases{
    display: flex;
    flex-direction: column;
    border: solid 2px; 
    width: 50%;
    padding: 10px;
}
.questionButtons{
    text-decoration: none;
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 12px;
    display: flex;
    margin: 10px;
}

.submitQuestion{
    width: 160px;
    padding: 15px;
}

.codesyncforms{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: antiquewhite;
    padding: 10px;
}

.resultWindow{
    border-style: solid;
    border-width: 3px;
    padding: 10px;
}

.tcRoll{
    position: absolute;
    top: 1000px;
    width: 47%;
    right: 0px;
    height: 700px;
    overflow-y: scroll;
}

.tcs{
    padding: 10px;
    background-color: rgb(86, 86, 86);
    margin: 10px;
    margin-left: 0px;
}

.deletetc{
    background-color: rgb(164, 84, 84);
    color: white;
}

.selectCheckType{
    display: flex;
    padding: 20px;
}

.descToggleButtons{
    padding: 8px;
    width: 66px;
    background-color: rgb(63, 63, 63);
    border: solid 1px;
    color: white;
}

.lbnames{
    background-color: rgb(102, 102, 102);
    margin: 10px;
    padding: 10px;
}

.leaderRoll :nth-child(1){
    background-color: rgb(227, 204, 72);
}

.leaderRoll :nth-child(2){
    background-color: rgb(180, 180, 180);
}

.leaderRoll :nth-child(3){
    background-color: rgb(163, 114, 67);
}

.leaderRoll{
    border: 3px solid lightgreen;
    border-radius: 10px;
    margin: 20px;
}

.homepagebuttons{
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: gray;
    display: inline;
    width: 140px;
    margin: 2px;
}

.warning{
    width: 100%;
    background-color: red;
    opacity: 0.3;
    padding: 10px;
    color: azure;
}

.terminal{
    background-color: black;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 8px;
}

.aibutton{
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.airesponseTab{
    background-color: rgb(109, 101, 109);
    margin: 2px;
    margin-top: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: max-content;
    padding: 16px;
}

.airesponseTab pre{
    background-color: rgb(42, 42, 42);
    padding: 14px;
    border-radius: 10px;
    overflow-x: scroll;
}

.descriptionBox pre{
    background-color: rgb(37, 37, 37);
    padding: 14px;
    border-radius: 10px;
    overflow-x: scroll;
}

.sidebar{
    padding: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.profilepage{
    display: flex;
}

.rightcolumn{
    padding: 30px;
    padding-top: 0px;
}

.tick{
    color: rgb(0, 185, 15) !important;
    
}


.highlighted{
    border: 2px solid rgb(135, 250, 143);
}

.lb{
    display: flex;
    flex-direction: column;
}

.lbheader{
    text-align: center;
    border: 2px solid lightgreen;
    border-radius: 10px;
    align-self: center;
    width: 12em;
    padding: 6px;
}

.rank{
    width: 100px;
    
}

.dtypeButtons{
    color: black;
    padding: 10px;
    background-color: rgb(195, 140, 140);
    height: 100px;
    width: 100px;
    margin: 10px;
}

.typrButtonRoll{
height: 200px;
}